@font-face {
  font-family: "Flaticon";
  src: url("../fonts/pet/Flaticon.eot");
  src: url("../fonts/pet/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/pet/Flaticon.woff2") format("woff2"),
       url("../fonts/pet/Flaticon.woff") format("woff"),
       url("../fonts/pet/Flaticon.ttf") format("truetype"),
       url("../fonts/pet/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/pet/Flaticon.svg#Flaticon") format("svg");
  }

}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 60px;
  font-style: normal;
}


.flaticon-001-cat-food:before { content: "\f100"; }
.flaticon-002-cat:before { content: "\f101"; }
.flaticon-003-sandbox:before { content: "\f102"; }
.flaticon-004-aquarium:before { content: "\f103"; }
.flaticon-005-ball:before { content: "\f104"; }
.flaticon-006-bird:before { content: "\f105"; }
.flaticon-007-cage:before { content: "\f106"; }
.flaticon-008-canned-food:before { content: "\f107"; }
.flaticon-009-pets:before { content: "\f108"; }
.flaticon-010-scratcher:before { content: "\f109"; }
.flaticon-011-collar:before { content: "\f10a"; }
.flaticon-012-crates:before { content: "\f10b"; }
.flaticon-013-bed:before { content: "\f10c"; }
.flaticon-014-brush:before { content: "\f10d"; }
.flaticon-015-carrier:before { content: "\f10e"; }
.flaticon-016-bowl:before { content: "\f10f"; }
.flaticon-017-dog-food:before { content: "\f110"; }
.flaticon-018-dog-house:before { content: "\f111"; }
.flaticon-019-dog:before { content: "\f112"; }
.flaticon-020-shampoo:before { content: "\f113"; }
.flaticon-021-dog-training:before { content: "\f114"; }
.flaticon-022-treats:before { content: "\f115"; }
.flaticon-023-elizabethan-collar:before { content: "\f116"; }
.flaticon-024-first-aid-kit:before { content: "\f117"; }
.flaticon-025-fish-food:before { content: "\f118"; }
.flaticon-026-fish:before { content: "\f119"; }
.flaticon-027-grooming:before { content: "\f11a"; }
.flaticon-028-guinea-pig:before { content: "\f11b"; }
.flaticon-029-mouse-toy:before { content: "\f11c"; }
.flaticon-030-adoption:before { content: "\f11d"; }
.flaticon-031-pet-hotel:before { content: "\f11e"; }
.flaticon-032-pet-insurance:before { content: "\f11f"; }
.flaticon-033-medicine:before { content: "\f120"; }
.flaticon-034-pet-shop:before { content: "\f121"; }
.flaticon-035-reptile:before { content: "\f122"; }
.flaticon-036-veterinary:before { content: "\f123"; }