@charset "utf-8";

/* .form-control {font-family:'Nanum Gothic',sans-serif;} */
.form-control::-webkit-input-placeholder {font-size: 14px;color: #666;}


/*로그인*/
.login_container {background:#f6f6f6; padding:5%; border-top:3px solid #505050}
.login_container h1 {font-size:40px; margin-bottom:25px; text-align:center; text-transform:uppercase}
.login_container p.tips {text-align:center;margin-bottom:20px;}
.login_container .login_top,.login_container .login_bottom{max-width:500px; margin: 0 auto;}
.login_container .login_top ul {list-style:none;margin:0;padding:0;}
.login_container .login_top li {margin-bottom:10px;}
.login_container .login_top li input.input_txt {
	width:100%;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-decoration: none;
	padding: 2%;
	font-size: 14px;
	border: 1px solid #bbb;
	background: #fcfcfc;
	font-family:'Nanum Gothic',sans-serif;
	border-radius: 10px 0 10px 0;
}
.login_container .btn-sumit {
	cursor: pointer;
	text-decoration: none;
	padding: 2% 0;
	font-size: 16px;
	background: #505050;
	color: #ffffff;
	width: 100%;
	border: 1px solid #505050 !important;
	border-radius: 10px 0 10px 0;
}
.login_container .login_bottom{overflow:hidden; border-top:1px solid #808080;}
.login_container .login_bottom ul {list-style:none;margin:0;padding:0;}
.login_container .login_bottom li {display:inline-block;}
.login_container .login_bottom li:first-child {margin-right:20px}
.login_container .login_bottom li a {line-height:50px; height:50px; display:block}
.login_container .login_bottom li a:before {font-family:'FontAwesome'; content:'\f061'; margin-right:10px; display:inline-block; font-size:0.85em}

/*아이디/비밀번호찾기*/
.find_container {background:#f6f6f6; padding:5%; border-top:3px solid #505050; overflow:hidden;}
.find_container h2 {font-weight:bold; color:#323232; font-size:1.1em; margin-bottom:20px; }
.find_container h1 {font-size:40px; margin-bottom:25px; text-align:center; text-transform:uppercase}
.find_container p.tips {text-align:center;margin-bottom:20px;}
.find_container ul {list-style:none;margin:0;padding:0;}
.find_container li {margin-bottom:10px}
.find_container .find_radio li{float:left; width:50%;}
.find_container li input.input_txt {
	width:100%;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-decoration: none;
	padding: 2%;
	font-size: 14px;
	border: 1px solid #bbb;
	background: #fcfcfc;
	border-radius: 10px 0 10px 0;
}
.find_container .btn-sumit {
	cursor: pointer;
	text-decoration: none;
	padding: 2% 0;
	font-size: 16px;
	background: #505050;
	color: #ffffff;
	width: 100%;
	border: 1px solid #505050 !important;
	border-radius: 10px 0 10px 0;
}


/*회원가입*/
.register_container ul {list-style:none;margin:0;padding:0;}
.register_container h4{font-size:1.2em; font-weight:bold; margin-bottom:20px; color:#323232}
.register_container span {font-weight: bold;}
.register_container .agreebox {border:1px solid #ccc;background:#fff;padding:25px;height:200px;overflow-y:auto;margin-bottom:15px; background:#f6f6f6}
.register_container .register_radio li{display:inline-block;  margin-right:5%; font-weight:bold }

.register_container .register_step {margin:0 auto 30px; width:100%;padding: 0; text-align:center;}
.register_container .register_step ul {list-style:none;margin:0;padding:0;}
.register_container .register_step li {display:inline-block ; height:35px; line-height:35px; font-size:16px; font-weight:600;padding-left:40px; margin-left:30px; background:url("../img/register_arrow.html") no-repeat 0 50%; background-size:8px auto}
.register_container .register_step li:first-child {padding-left:0px; background:none; margin-left:0px}
.register_container .register_step li:last-child {margin-right:0px;}
.register_container .register_step li.on {color:#505050;font-size: 15px;}
.register_container .register_step li span {padding:5px; line-height:100%; float:left; display:block;border-radius:5px 0 5px 0; margin-right:10px; background:#c8c8c8; color:#ffffff; font-weight:600; margin-top:5px; }
.register_container .register_step li.on span.num {background:#505050;}

.register_container .agree_box h4{font-weight:bold; font-size:1.2e; color:#323232}
.register_container .agree_box h5{font-weight:bold; font-size:1.1em; color:#323232}
.register_container .agree_box h6{font-weight:bold; font-size:1.1em; color:#323232}

.register_container .register_btn {text-align:center; margin-top:40px; vertical-align:top;}
.register_container .register_btn li {display:inline-block;}
.register_container .register_btn li a {font-weight: normal;padding:10px 30px; background:#808080; color:#ffffff; border:1px solid #808080; line-height:49px; height:49px;
	border-radius: 10px 0 10px 0;t}
.register_container .register_btn li a.btn-sumit{ background:#505050;border:1px solid #505050;}

.register_container .register_btn li span {font-weight: normal;padding:10px 30px; background:#808080; color:#ffffff; border:1px solid #808080; line-height:49px; height:49px;
	border-radius: 10px 0 10px 0;}
.register_container .register_btn li span.btn-sumit{ background:#505050;border:1px solid #505050;}

.register_container .line {border-bottom:1px dashed #808080; padding-bottom:40px; margin-bottom:40px;}
.register_container .register_dot li {background: url(../img/register_dot.html) no-repeat 0px 10px;padding-left: 15px;margin-bottom: 3px;}

@media all and (max-width:768px) {
	.register_container .register_step li {font-size:13px; padding-left:10px; margin-left:0px; }
}

.agree_box p{margin-top:15px; margin-bottom:15px;}
.agree_box h4{font-weight:bold; font-size:1.2e; color:#323232}
.agree_box h5{font-weight:bold; font-size:1.1em; color:#323232; margin-top:40px; margin-bottom:15px;}
.agree_box h6{font-weight:bold; font-size:1.1em; color:#323232; margin-top:13px; margin-bottom:13px;}


/*회원가입양식*/
.register_container_form {border-top:3px solid #505050;}
.register_container_form ul {list-style:none;margin:0;padding:0;}
.register_container_form li{overflow:hidden; border-bottom:1px solid #e6e6e6; }
.register_container_form li .fm_list{padding:0px 5px; display:block; width:25%; float:left; font-size:17px; padding:2%;line-height:40px;}
.register_container_form li .fm_txt{display:block; padding:0px 5px; width:75%; float:left; font-size:17px; padding:2%;line-height:40px;font-weight: normal;}
.register_container_form li input.input_txt {
	width:auto;
	min-width: 50%;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-decoration: none;
	padding: 0 1.5%;
	font-size: 14px;
	height: 40px;
	line-height:40px;
	border: 1px solid #bbb;
	background: #fcfcfc;
	border-radius: 10px 0 10px 0;
}
.register_container_form li textarea.input_txt {
	width:auto;
	min-width: 50%;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-decoration: none;
	padding: 0 1.5%;
	font-size: 14px;
	height: 90px;
	line-height:40px;
	border: 1px solid #bbb;
	background: #fcfcfc;
	border-radius: 10px 0 10px 0;
}
.register_container_form li input.input_txt2 {margin:0.5rem 0;}
.register_container_form li select.input_txt {
	width:auto;
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	text-decoration: none;
	padding: 0 1.5%;
	font-size: 14px;
	height: 40px;
	line-height:40px;
	border: 1px solid #bbb;
	background: #fcfcfc;
}
.register_container_form .btn-basic {font-weight: normal;padding:0 1.5%;height: 40px;line-height:40px; background:#505050; color:#ffffff; border:1px solid #505050; line-height:normal;border-radius: 10px 0 10px 0;}

@media all and (max-width:768px) {
	.register_container_form li .fm_list {width:30.5%;font-size:14px;line-height:30px;}
	.register_container_form li .fm_txt {width:69.5%;font-size:14px;line-height:30px;}
	.register_container_form li input.input_txt,.register_container_form li select.input_txt {height: 30px;line-height:30px;}
	.register_container_form .btn-basic {height: 30px;line-height:30px;}
}

